﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="absorptionProducts.aspx.cs" Inherits="Sstorage.admin.absorptionProducts" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <title>קליטת מוצרים | Sstorage</title>   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
