﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="addSupplier.aspx.cs" Inherits="Sstorage.admin.addSupplier" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title> הוספת ספק | Sstorage</title> 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
