﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="blockUser.aspx.cs" Inherits="Sstorage.admin.blockUser" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title> חסימת משתמש | Sstorage</title> 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
