﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="categorys.aspx.cs" Inherits="Sstorage.admin.categorys" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title> קטגוריות | Sstorage</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<h1>sdfgh</h1>
</asp:Content>
