﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="Sstorage.admin.index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <title>מנהל ראשי | Sstorage</title>   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
