﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="inventorys.aspx.cs" Inherits="Sstorage.admin.inventorys" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <title> מלאים  | Sstorage</title>   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
