﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="orders.aspx.cs" Inherits="Sstorage.admin.orders" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title> הזמנות | Sstorage</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
