﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="removSupplier.aspx.cs" Inherits="Sstorage.admin.removSupplier" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title> מחיקת ספק | Sstorage</title> 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
