﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminMaster.Master" AutoEventWireup="true" CodeBehind="storagrs.aspx.cs" Inherits="Sstorage.admin.storagrs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title> מחסנים | Sstorage</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
